@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1621343446409') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangqing:before {
  content: "\e647";
}

.icon-service-fill:before {
  content: "\e635";
}

.icon-bangzhu:before {
  content: "\e613";
}

